.home-wrap
  .header-position
    .heading
        #brand.
          Resume
    .subnav
      ul
        li: a(href="{{site.baseurl}}/") Home
  section.about
    .intro(style="padding-right:0%").
      <span class="role">Hello! My name is Sandeep.<br></span>
      <span class="place">I'm an User Interface Designer (in the making)<br>
      I like conversations and collaborations, write to me at <span class="type">sandeepbedadala@gmail.com<br><br>
      <span class="role"><a style ="font-size: 18px; color: #007FE1;" href="https://twitter.com/sandeepbedadala">Twitter</a><br><a style ="font-size: 18px; color: #007FE1;"href="https://www.linkedin.com/in/sandybedadala">LinkedIn</a>
      </span>
