.home-wrap
  .header-position
    .heading
        #brand.
          About
    .subnav
      ul
        li: a(href="{{site.baseurl}}/") Home
        li: a(href="{{site.baseurl}}/resume/") Resume
  section.about
    .intro(style="padding-right:0%").
      <span class="role">Hello! My name is Sandeep.<br></span>
      <span class="place">I'm an Engineer turned Designer<br>
      <span class="place">
      I like conversations and collaborations, write to me at <span class="type">sandeepbedadala@gmail.com<br><br>
      <span class="role"><a style ="font-size: 18px; color: #007FE1;" href="https://twitter.com/sandeepbedadala">Twitter</a><br><a style ="font-size: 18px; color: #007FE1;"href="https://www.linkedin.com/in/sandybedadala">LinkedIn</a><br>
      <a style ="font-size: 18px; color: #007FE1;"href="https://vimeo.com/user29839963">Vimeo</a>
      </span>
