.home-wrap
  .header-position
    .goback.
      <a href="http://sandeepbedadala.com">← Back to homepage</a>
    .heading
    .subnav
  section.about
    .postTitle.
      Alright, explain yourself now
    .intro
      p.
        My process that has taken shape over the years based on my experience of working as a designer, expressed as general truths, to a younger me.<br>
      .subHeading.
        Goals<br>
      p.
        Start with a goal for what you are designing. Define the goal in one-line. There can be multiple goals for multiple users. Define each of those. What does success look like?<br>
      .subHeading.
        Metrics<br>
      p.
        To evaluate success, you need numbers. If you do not have numbers at hand, create systems that can give you those numbers.<br>
      .subHeading.
        Research<br>
      p.
        Research is such a broad term. Anything can be research and research can vary from project to project.
        The best way to conduct research is to not waste time in learning how to conduct research. Instead, know every thing that you can know about the client.
        I mean Everything. Imagine if it is re-designing a website, every word on the website is a decision made by someone. Question these decisions.
        Research competition. Do not try to find an exact match in competition. Your talent as a designer lies in making these connections. What are the similarities between the user experience of
        a Student Advising Session at a University versus the Bank Teller Consultation experience at a Bank? How are the banks doing it? What is good? What is bad? This thinking and these questions yield some thoughtful insights.
      .subHeading.
        Validate<br>
      p.
        Validate your primary research. Always try to translate research into numbers. People naturally 'react' to numbers.<br>
      .subHeading.
        Create<br>
      p.
        Know enough coding to prototype your ideas. Think in terms of states. Can we optimize the number of
        states? Are there too many states? Are we forgetting any in-between states? Do not fall in love with one idea. Be open to critique.<br>
      .subHeading.
        Present<br>
      p.
        One of the greatest skills one can have today is designing a kickass pitch deck. Imagine yourself in the audience chair looking at the presentation.
        What would stimulate you? What would bore you? Know the who the audience is (especially if you plan on using GIFs). Always have at least two font colors (heading and body text).<br>
      .subHeading.
        Collaborate and Document<br>
      p.
        If your design is approved, great! But the job is not done yet. Workout a collaboration workflow with the developers and others in the team. You will learn a lot more about your own design that you have not thought through when the design is being engineered.
        Document your learnings. Take notes. Organize these notes. Label them. What have you learnt? What went right, what went wrong? Every project is an opportunity to learn something new.<br>
