.home-wrap
  .header-position
    .goback.
      <a href="http://sandeepbedadala.com">← Back to homepage</a>
    .heading
        #brand.
    .subnav
  section.about
    .postTitle.
      Hello!
    .intro
      .p.
        My name is Sandeep
      .p.
        I love working at the intersection of design, technology and communications to deliver engaging user experiences. My design philosophy and the reason I became a designer is inspired by the following quote by Steve Jobs:
      .p(style="font-weight:300; margin-top: 5%; margin-bottom: 5%;")
        "There is something beyond what you see everyday…It’s the same thing that causes people to want to be poets instead of bankers. I think that same spirit can be put into products. People can sense that. And they love it."
      .p.
        If you have an idea for a project or just want say hi, write to me at <span class="type">sandeepbedadala@gmail.com<br><br>
