.home-wrap
  .header-position
    .goback.
      <a href="http://sandeepbedadala.com">← Back to homepage</a>
    .heading
        #brand.
          Advising Checkin System
    .subnav
      p.
        Category
      h3.
        UX Research<br>
        Information Design<br>
        UI Design
      p.
        tools
      h3.
        Adobe XD<br>
        HTML + CSS + jQuery
      p.
        year
      h3.
        2018
  section.about
    .postTitle.
      Bridging gaps in the Advising experience
    .intro
      .subHeading.
        The Problem:
      p.
        Student Advising is an event that involves multiple stakeholders, multiple tools and multiple variations. The Vice Provost for Undergraduate Education at IU reached out to our unit
        proposing an idea of an application that strip the complexity of the advising experience by transforming the data in a way that reduces losses in time and miscommunication.
        This application should work across multiple devices (Kiosk, tablet and on desktop) and should increase the co-ordination between different users (Student, Front-desk Staff and Advisor).
        Along with prototyping the information flows for each device, I was asked to develop a visual language that is cognizant of the uniqueness of the goals of each user and should respect
        the design guidelines for the different devices.
      .subHeading.
        My role:
      p.
        Working with the Project Manager, I researched, brainstormed and proposed ideas for how we can optimize the user experience. Later I designed the user interfaces and contributed to the front-development
        of the applications
      <div style="position: relative; overflow: auto; max-width: 100%; height:auto;">
      <img style="width:85%; margin-left: 15%;z-index: 3; position: relative ", src="/assets/img/hp_gallery_tn/advising_01.png">
      <img style="width:85%; margin-left: 15%;z-index: 3; position: relative ", src="/assets/img/hp_gallery_tn/advising_02.png">
      <img style="width:85%; margin-left: 15%;z-index: 3; position: relative ", src="/assets/img/hp_gallery_tn/advising_03.png">
      <img style="width:85%; margin-left: 15%;z-index: 3; position: relative ", src="/assets/img/hp_gallery_tn/advising_04.png">
      <img style="width:85%; margin-left: 15%;z-index: 3; position: relative ", src="/assets/img/hp_gallery_tn/advising_05.png">
      <img style="width:85%; margin-left: 15%;z-index: 3; position: relative ", src="/assets/img/hp_gallery_tn/advising_06.png">
      <img style="width:85%; margin-left: 15%;z-index: 3; position: relative ", src="/assets/img/hp_gallery_tn/advising_07.png">
      <img style="width:85%; margin-left: 15%;z-index: 3; position: relative ", src="/assets/img/hp_gallery_tn/advising_08.png">
      <img style="width:85%; margin-left: 15%;z-index: 3; position: relative ", src="/assets/img/hp_gallery_tn/advising_09.png">
      </div>
