.home-wrap
  .header-position
    .heading
        #brand.
          Albert<br>in City
    .subnav
      ul
        li: a(href="{{site.baseurl}}/") Home
        li: a(href="{{site.baseurl}}/resume/") Resume
        .sectionscat.
          Project details
        p(style="text-transform: uppercase; font-size:12px").
          Title
        h3(style="color:#09d; font-weight:500; margin-top:0px; margin-bottom:0px; font-size:15px").
          Albert in City
        .sectionav.
        p(style="text-transform: uppercase; font-size:12px").
          Category
        h3(style="color:#09d; font-weight:500; margin-top:0px; margin-bottom:0px; font-size:15px;line-height:1.5em").
          3D Design<br>
          Web Development<br>
          Game Design
        .sectionav.
        p(style="text-transform: uppercase; font-size:12px").
          tools
        h3(style="color:#09d; font-weight:500; margin-top:0px; margin-bottom:0px; font-size:15px; line-height:1.5em").
          WebGL<br>
          HTML + CSS<br>
          JavaScript<br>
        .sectionav.
  section.about
    .intro
      <a style="font-size:15px; text-align: center; width:25%; display: block; text-transform: uppercase; color:#31302B; font-weight:500; background-color: red; color: white" href="http://www.visineat.com/devs/dev4/WebGL/A05/">View the project here</a>
      p.
        <span style="text-transform: uppercase; font-weight:700">Background:</span><br>
        <iframe style="float: right; margin-left:5%" src="https://giphy.com/embed/3o7qDIGF9jY1P7p0is" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        'Albert in City' is a simple web interactive developed using <a href="http://www.visineat.com/api/">VisiNeat</a> and HTML5.
        VisiNeat is a JavaScript library that provides powerful functions to build and render 3D graphics in the web browser. It is built on
        top of WebGL. VisiNeat was developed by <a href="http://plaza.ufl.edu/angelbar/">Dr. Angelos Barmpoutis</a> at the University of Florida.
        I made this project for a class taught by Dr. Barmpoutis at UF to demo how JavaScript can be used to develop interactive 3D applications.<br><br>
        If you don't know who Albert is, he is one of the official mascots of UF.<br>
        Go Gators!
