.home-wrap
  .header-position
    .goback.
      <a href="http://sandeepbedadala.com">← Back to homepage</a>
    .heading
        #brand.
          Albert in City
    .subnav
      p.
        Category
      h3.
        3D Design<br>
        Web Development<br>
        Game Design
      p.
        tools
      h3.
        WebGL<br>
        HTML + CSS<br>
        JavaScript<br>
  section.about
    .postTitle.
      Learning in the browser
    .app
      <a href="http://www.visineat.com/devs/dev4/WebGL/A05/">View the project here →</a>
    .intro
      .subHeading.
        Background:
      p.
        'Albert in City' is a simple web interactive developed using <a href="http://www.visineat.com/api/">VisiNeat</a> and HTML5.
        VisiNeat is a JavaScript library that provides powerful functions to build and render 3D graphics in the web browser. It is built on
        top of WebGL. VisiNeat was developed by <a href="http://plaza.ufl.edu/angelbar/">Dr. Angelos Barmpoutis</a> at the University of Florida.
        I made this project for a class taught by Dr. Barmpoutis at UF to demo how JavaScript can be used to develop interactive 3D applications.<br><br>
        <a href="https://giphy.com/embed/3o7qDIGF9jY1P7p0is">Go Gators!</a>
