.home-wrap
  .header-position
    .heading
        #brand.
          Florida Field
    .subnav
      ul
        li: a(href="{{site.baseurl}}/") Home
        li: a(href="{{site.baseurl}}/resume/") Resume
        .sectionscat.
          Project details
        p(style="text-transform: uppercase; font-size:12px").
          Title
        h3(style="color:#09d; font-weight:500; margin-top:0px; margin-bottom:0px; font-size:15px").
          Florida Field
        .sectionav.
        p(style="text-transform: uppercase; font-size:12px").
          Category
        h3(style="color:#09d; font-weight:500; margin-top:0px; margin-bottom:0px; font-size:15px").
          3D Design
        .sectionav.
        p(style="text-transform: uppercase; font-size:12px").
          tools
        h3(style="color:#09d; font-weight:500; margin-top:0px; margin-bottom:0px; font-size:15px; line-height:1.5em").
          Autodesk Maya<br>
          Adobe Photoshop
        .sectionav.
  section.about
    .intro
    .video
      iframe(src='https://player.vimeo.com/video/163488379', width='840', height='560', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
