.home-wrap
  .header-position
    .heading
        #brand.
          Florida Field
    .subnav
      ul
        li: a(href="{{site.baseurl}}/") Home
        li: a(href="{{site.baseurl}}/resume/") Resume
      .sectionscat.
        Project details
      p.
        Title
      h3.
        Florida Field
      .sectionav.
      p.
        Category
      h3.
        3D Design
      .sectionav.
      p.
        tools
      h3.
        Autodesk Maya<br>
        Adobe Photoshop
      .sectionav.
  section.about
    .intro
    .video
      iframe(src='https://player.vimeo.com/video/163488379', width='840', height='560', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
