.home-wrap
  .header-position
    .goback.
      <a href="http://sandeepbedadala.com">← Back to homepage</a>
    .heading
        #brand.
          Florida Field
    .subnav
      p.
        Category
      h3.
        3D Design
      p.
        tools
      h3.
        Autodesk Maya<br>
        Adobe Photoshop
  section.about
    .intro
    .video
      iframe(src='https://player.vimeo.com/video/163488379', width='840', height='560', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
