.home-wrap
  .header-position
    .heading
        #brand.
          Byju's Classes
    .subnav
      ul
        li: a(href="{{site.baseurl}}/") Home
        li: a(href="{{site.baseurl}}/resume/") Resume
        .sectionscat.
          Project details
        p(style="text-transform: uppercase; font-size:12px").
          Title
        h3(style="color:#09d; font-weight:500; margin-top:0px; margin-bottom:0px; font-size:15px").
          Byju's Classes
        .sectionav.
        p(style="text-transform: uppercase; font-size:12px").
          Category
        h3(style="color:#09d; font-weight:500; margin-top:0px; margin-bottom:0px; font-size:15px").
          UI/UX Design
        .sectionav.
        p(style="text-transform: uppercase; font-size:12px").
          tools
        h3(style="color:#09d; font-weight:500; margin-top:0px; margin-bottom:0px; font-size:15px; line-height:1.5em").
          Adobe Photoshop<br>
          Adobe Illustrator
        .sectionav.
  section.about
    .intro
      .bullet
          .check
          span.
            Revolutionary Product</br>
          .check
          span.
            Strong Customer base</br>
          .check
          span.
            Visionary Leadership</br>
          .plus
          span.
            Good Design</br>
      p.
        Byju's is an educational technology startup from India. Even before
        <a href='http://www.businessinsider.com/mark-zuckerberg-invests-byju-indian-education-startup-2016-9'>
        Mark Zuckerberg made bets</a>
        on its potential to disrupt the way we learn, Byju's was a leader among test prep companies in India.
        </br>
        I worked on Byju's website during my internship at
        <a href='http://www.purplemango.in/'>Purplemango</a>
        ,a creative agency from Bangalore, India.
#byjus01
  img(src="/assets/img/hp_gallery_tn/byjus_01.png")
.home-wrap
  .header-position
    .heading
  section.about
    .intro(style="margin-top:0px")
      p.
        After a large campaign that launched the brand identity, Byju's wanted to revamp their old website and it was
        around this time they were trying to transform their business from a test prep brand that offers classes physically
        into a digital brand that makes educational content with novel production. The website is also a e-commerce platform that
        allows customers to purchase courses. With all this in mind, I worked in a close team of people from Purplemango and Byju's
        to design a website that has lot of content without being obtrusive.<br>
#byjus02
  img(src="/assets/img/hp_gallery_tn/byjus_02.png")
.home-wrap
  .header-position
    .heading
  section.about
    .intro(style="margin-top:0px")
      p.
        Ws started by building the information architecture and came up with the user personas. We identified that the primary user is a student between 16-28, and collected the data of the enrollment of
        students in each course. GMAT and CAT were the most popular courses given the popularity among young working Indians to
        get into B Schools. But the campaigns chief goal is to promote their new Maths and Physics courses that are sold in a Samsung
        tablet. Hence in the preliminary design we allocated lot of space for the new courses and we used testimonials to promote the
        existing courses.</br>
        Looking back, Byju's is one of the largest design projects I've worked on so far and one of my biggest learning experiences. I'm super proud
        with all the accomplishments the brand is making lately.
