.home-wrap
  .header-position
    .heading
      p Byju's Classes
    ul
      li: a(href="#home") Home
  section.about
    .intro
      .check
      span.
        Revolutionary Product</br>
      .check
      span.
        Strong Customer base</br>
      .check
      span.
        Visionary Leadership</br>
      .plus
      span.
        Good Design</br>
      p.
        Byju's is an educational technology startup from India. Even before
        <a href='http://www.businessinsider.com/mark-zuckerberg-invests-byju-indian-education-startup-2016-9' style='font-size:18px'>
        Mark Zuckerberg made bets</a>
        on its potential to disrupt the way we learn, Byju's was a leader among test prep companies in India.
        </br>
        I worked on Byju's website during my internship at
        <a href='http://www.purplemango.in/' style='font-size:18px'>Purplemango</a>
        ,a creative agency from Bangalore, India.
#byjus01
.home-wrap
  .header-position
    .heading
  section.about
    .intro
      p.
        After a large campaign that launched the brand identity, Byju's wanted to revamp their old website and it was
        around this time they were trying to transform their business from a test prep brand that offers classes physically
        into a digital brand that makes educational content with novel production. The website is also a e-commerce platform that
        allows customers to purchase courses. With all this in mind, I worked in a close team of people from Purplemango and Byju's
        to design a website that has lot of content without being obtrusive.<br>
#byjus02
.home-wrap
  .header-position
    .heading
  section.about
    .intro
      p.
        I enjoyed designing in flat colors and my favorite part was working landing pages for the City wise programs and device wise
        courses.
