.home-wrap
  .header-position
    .heading
        #brand.
          Byju's Classes
        #categeory.
          UX Design
    .subnav
      ul
        li: a(href="#home") Home
        li: a(href="#resume") Contact
  section.about
    .intro
      .check
      span.
        Revolutionary Product</br>
      .check
      span.
        Strong Customer base</br>
      .check
      span.
        Visionary Leadership</br>
      .plus
      span.
        Good Design</br>
      p.
        Byju's is an educational technology startup from India. Even before
        <a href='http://www.businessinsider.com/mark-zuckerberg-invests-byju-indian-education-startup-2016-9'>
        Mark Zuckerberg made bets</a>
        on its potential to disrupt the way we learn, Byju's was a leader among test prep companies in India.
        </br>
        I worked on Byju's website during my internship at
        <a href='http://www.purplemango.in/'>Purplemango</a>
        ,a creative agency from Bangalore, India.
#byjus01
  img(src="/assets/img/hp_gallery_tn/byjus_01.png")
.home-wrap
  .header-position
    .heading
  section.about
    .intro(style="margin-top:0px")
      p.
        After a large campaign that launched the brand identity, Byju's wanted to revamp their old website and it was
        around this time they were trying to transform their business from a test prep brand that offers classes physically
        into a digital brand that makes educational content with novel production. The website is also a e-commerce platform that
        allows customers to purchase courses. With all this in mind, I worked in a close team of people from Purplemango and Byju's
        to design a website that has lot of content without being obtrusive.<br>
#byjus02
  img(src="/assets/img/hp_gallery_tn/byjus_02.png")
.home-wrap
  .header-position
    .heading
  section.about
    .intro(style="margin-top:0px")
      p.
        Before working on this project, I didn't know what exactly an UX Designer is.
