.home-wrap
  .header-position
    .goback.
      <a href="http://sandeepbedadala.com">← Back to homepage</a>
    .heading
        #brand.
          ClaimFound
    .subnav
      p.
        Category
      h3.
        UI/UX Design<br>
        Graphic Design<br>
        Illustration
      p.
        tools
      h3(style="margin-bottom:3%").
        Adobe Photoshop<br>
        Adobe Illustrator
  section.about
    .postTitle.
      Building a visual design system
    .intro
      .subHeading.
        Background:
      p.
        ClaimFound Inc. is a financial technology startup currently based in Gainesville, Florida. ClaimFound is a web application that allows users
        to search for unclaimed property in their name across the fifty states and processes the claims for payment. As a Visual and UX Design intern at
        at ClaimFound, I re-designed their logo/identity and re-designed their website according to the newly developed identity.
      img(style="width:80%; margin-left: 10%; margin-top: 5%; margin-bottom: 5%",src="/assets/img/hp_gallery_tn/cfOldNew.png")
      .subHeading.
        Logo Design:
      p.
        Existing logo of the application is a direct visual representation of 'search' which is the core functionality of the application. Although the magnifying glass is a
        loyal representation of the core function, the brand title speaks for the success but not the process. It was important to show that ClaimFound as a brand assists with the
        whole process starting with search to receiving the money. Also, the current logo has the letter 'C' inside the magnifying glass which is resulting in multiple 'C's
        when combined with the word mark. Retaining the importance of the search signifier i.e the magnifying glass, I came up with a logo that abstractly holds the form of the
        magnifying glass but connects to the idea of searching for claims in a different visual perspective achieved through a tinted primary color.
      img(style="width:70%; margin-left: 10%; margin-top: 5%; margin-bottom: 5%",src="/assets/img/hp_gallery_tn/hp_tn_10_claim.png")
      .subHeading.
        Colors and Typeface:
      p.
        I replaced the old typeface with Roboto, a clean sans-serif typeface with balance and legibility and whose properties align well with
        the shape and structure of the logo.
      img(style="width:80%; margin-left: 10%; margin-top: 5%; margin-bottom: 5%",src="/assets/img/hp_gallery_tn/logonwm.png")
      img(style="width:60%; margin-left: 10%;",src="/assets/img/hp_gallery_tn/LogoDetails.png")
      .subHeading.
        User interface design:
      p.
        During the discovery process, I conducted interviews with the founders and other team members to find identify the different themes
        that are core to the product that we are building. This interview process was a soul searching activity to find out the visual elements that
        defines the brand. We have identified that 'search' is the core idea of our brand and 'completion','assistance' and 'fast' are the associated themes.
      .subHeading.
        Building a visual design system:
      p.
        To achieve an un-obtrusive, seamless digital experience, we developed a visual design system which is basically a library of all the UI elements we identified from the old design
        i.e, call to action buttons, forms etc. This library was revised multiple times by revisiting the information architecture and revising the UI wherever necessary i.e, eliminating the
        unnecessary call to actions and employing copy that complements with the user actions.
      img(style="width:100%; margin-left: 10%; margin: 0 auto;",src="/assets/img/hp_gallery_tn/hp_tn_11_claim_UX_vs.png")
      .subHeading.
        Homepage design:
      p.
        Re-designing the homepage was the number one priority during the whole assignment. Homepage of ClaimFound is not just the gateway to the whole
        app experience but it also has a few important functions like the claim searching tool which searches the databases across the fifty states to find money in
        someone's name. Moreover, as a company that deals with financial matters and processes sensitive information like addresses, the home page design has the responsibility
        to gain trust from the users. Old design of the homepage was heavy of stock photographs and hardly used any of the brand colors and did not clearly distinguish between call to actions,
        labels and titles. Taking elements out of the UI library built earlier, a cohesive design was conceived by completely eliminating banner images.
        Final design consisted sharp illustrations in the brand colors, UI elements that are consistent and gave clues to the user about the behavior of any element.
      img(style="width:100%; margin-left: 10%; margin: 0 auto;",src="/assets/img/hp_gallery_tn/hp_tn_11_claim_UX_about.png")
      .subHeading.
        Results:
      p.
        While the parameters like ease of navigation, number of clicks recorded etc. are yet to be found in the next stages, with the current design we managed
        to reduce the number of words in the home page 23% less than the old design and 17% in case of the about us page.
      img(style="width:100%; margin-left: 10%; margin: 0 auto;",src="/assets/img/hp_gallery_tn/hp_tn_11_claim_UX_04.png")
      <div style="position: relative; overflow: auto; width: 890px; height:475px; ">
      <img style="width:85%; margin-left: 15%;z-index: 3; position: relative ", src="/assets/img/hp_gallery_tn/hp_tn_11_claim_UX_01.png">
      <img style="width:85%; top:5%; left:15%; z-index: 1; position: absolute", src="/assets/img/hp_gallery_tn/hp_tn_11_claim_UX_02.png">
      </div>
