.home-wrap
  .header-position
    .goback.
      <a href="http://sandeepbedadala.com">← Back to homepage</a>
    .heading
        #brand.
          ClaimFound
    .subnav
      p.
        Category
      h3.
        UX Research<br>
        UI Design<br>
        Branding
      p.
        tools
      h3(style="margin-bottom:3%").
        Adobe Photoshop<br>
        Adobe Illustrator
      p.
        Team
      h3(style="margin-bottom:3%").
        <a href="https://www.linkedin.com/in/chrisprompovitch/">Christoffer Prompovitch (CPO)</a><br>
        Sandeep Bedadala (UI/UX)
  section.about
    .postTitle.
      Fixing a complex problem through good UX
    .intro
      .subHeading.
        Background:
      p.
        ClaimFound Inc. is a financial technology startup based in Gainesville, Florida. ClaimFound is a web platform that allows users
        to find unclaimed property without the hassle. As a UI/UX Designer, I participated in the user research, information architecture development, UI design and contributed to the front-end development of the application.
      .subHeading.
        The Problem:
      p.
        ClaimFound was started to fix the existing way of finding unclaimed property after hearing stories from friends and family about the bureaucratic nightmare that is receiving claims.
        Unclaimed property can be any type of asset which has been lost, forgotten, or never passed on to its right heir. It includes Life Insurance Policies, Utility Deposits, Tax Returns etc.
        Total unclaimed property in the US in 2015 is valued to be at $60B and $2B worth of new claims are added every year.
      img(style="width:100%; ",src="/assets/img/hp_gallery_tn/claimfound_01.png")
      .subHeading.
        Audit and Research:
      p.
        To better understand the current process of finding unclaimed property, we performed an extensive audit of the industry to identify the key players and who the prime users are.
      img(style="width:100%;" src="/assets/img/hp_gallery_tn/claimfound_02.png")
      p.
        Based on the industry audit we found out that Missingmoney.com which is an aggregated database that cross references all state property databases is sanctioned by the National Association of Unclaimed Property Administrators (NAUPA), which is the central authority of all state unclaimed property administrators.<br>
        Missingmoney.com represents the closest available solution to the problem ClaimFound is trying to solve. Therefore, it’s user base will be directly applicable for the product development
        The user demographic research discovered from MissingMoney.com is directly used for developing ClaimFound’s key user personas.
      .subHeading.
        User Personas:
      img(style="width:100%;" src="/assets/img/hp_gallery_tn/claimfound_03.png")
      .subHeading.
        Feature Prioritization, Information Architecture, Wireframes:
      img(style="width:100%;" src="/assets/img/hp_gallery_tn/claimfound_04.png")
      p.
        The MVP for ClaimFound must be able to accomplish the following:<br>
        1.Allow users to cross reference all unclaimed property databases<br>
        2.Provide a central dashboard where users can review all claims<br>
        3.Allow for the upload and storage of user’s required claim documentation<br>
        4.Pre-fill, review, and sign all legal documents<br>
        5.Allow for payment sign-up and bank account transfer for claims redemption<br>
        6.Electronically submit claims to appropriate agencies
      img(style="width:100%;" src="/assets/img/hp_gallery_tn/claimfound_05.png")
      img(style="width:100%;" src="/assets/img/hp_gallery_tn/claimfound_06.png")
      .subHeading.
        Usability testing:
      p.
        Based on the initial wireframes, a basic prototype was built in InVision and to test some of the main features of the application.
        Given the complexity of the application, to discover deep usability issues, we have asked participants to perform tasks that takes them to a specific section of the process flow.
        After each section has been tested thoroughly, we moved to a broader test of performing an end-to-end task. Here are some of the insights:<br>
        1. Condense the “claim results” page and the “claims dashboard” when finally viewing your claims<br>
        2. Really put a lot of thought into the copy writing for each section of the process flow so its very clear on why the user is taking that particular step<br>
        3. Make sure you emphasize security and confidentiality as a key component of the messaging, tone, and voice of the platform<br>
        4. Complete a re-prioritization of features<br>
        5. Think about areas where you can build in referral mechanisms. Growth is a system, not a bunch of quick tactics and hacks.<br>
        6. Great user experience is competitive advantage
      .subHeading.
        Visual Design:
      p.
        During the discovery process, I conducted interviews with the founders and other team members to find identify the different themes that are core to the product that we are building. This interview process was a soul searching activity to find out the visual elements that defines the brand. We have identified that 'search' is the core idea of our brand and 'completion','assistance' and 'fast' are the associated themes.
        It was important to show that ClaimFound as a brand assists with the whole process from finding to receiving the money. Retaining the importance of the search signifier i.e the magnifying glass, I came up with a logo that abstractly holds the form of the magnifying glass but connects to the idea of searching for claims in a different visual perspective achieved through a tinted primary color.
      img(style="width:80%; margin-left: 10%; margin-top: 5%; margin-bottom: 5%",src="/assets/img/hp_gallery_tn/cfOldNew.png")
      p.
        As we found out during the initial usability test by talking to real users, trust is of paramount importance in establishing a strong customer relationship.
        From logo design to the user experience design, every design decision was made to make every interaction transparent and make the user feel that they are in control the whole time.
      img(style="width:70%; margin-left: 10%; margin-top: 5%; margin-bottom: 5%",src="/assets/img/hp_gallery_tn/hp_tn_10_claim.png")
      p.
        Roboto, a clean sans-serif typeface with balance and legibility and whose properties align well with the shape and structure of the logo is chosen to be the primary typeface for the brand.
      img(style="width:80%; margin-left: 10%; margin-top: 5%; margin-bottom: 5%",src="/assets/img/hp_gallery_tn/logonwm.png")
      img(style="width:60%; margin-left: 10%;",src="/assets/img/hp_gallery_tn/LogoDetails.png")
      .subHeading.
        Building a visual design system:
      p.
        To achieve an un-obtrusive, seamless digital experience, we developed a visual design system which is basically a library of all the UI elements we identified from the old design i.e, call to action buttons, forms etc. This library was revised multiple times by revisiting the information architecture and revising the UI wherever necessary i.e, eliminating the unnecessary call to actions and employing copy that complements with the user actions.
      img(style="width:100%; margin-left: 10%; margin: 0 auto;",src="/assets/img/hp_gallery_tn/hp_tn_11_claim_UX_vs.png")
      p.
        Following are some of the UI screens designed based on the visual design system.
      img(style="width:100%; margin-left: 10%; margin: 0 auto;",src="/assets/img/hp_gallery_tn/hp_tn_11_claim_UX_04.png")
      <div style="position: relative; overflow: auto; width: 890px; height:475px; ">
      <img style="width:85%; margin-left: 15%;z-index: 3; position: relative ", src="/assets/img/hp_gallery_tn/hp_tn_11_claim_UX_01.png">
      <img style="width:85%; top:5%; left:15%; z-index: 1; position: absolute", src="/assets/img/hp_gallery_tn/hp_tn_11_claim_UX_02.png">
      </div>
      img(style="width:100%; margin-left: 10%; margin: 0 auto;",src="/assets/img/hp_gallery_tn/hp_tn_11_claim_UX_04.png")
      <div style="position: relative; overflow: auto; width: 890px; height:475px; ">
      <img style="width:85%; margin-left: 15%;z-index: 3; position: relative ", src="/assets/img/hp_gallery_tn/hp_tn_11_claim_UX_01.png">
      <img style="width:85%; top:5%; left:15%; z-index: 1; position: absolute", src="/assets/img/hp_gallery_tn/hp_tn_11_claim_UX_05.png">
      </div>
