.home-wrap
  .header-position
    .heading
        #brand.
          ClaimFound
    .subnav
      ul
        li: a(href="{{site.baseurl}}/") Home
        li: a(href="{{site.baseurl}}/resume/") Resume
      .sectionscat.
        Project details
      p(style="text-transform: uppercase; font-size:12px").
        Title
      h3(style="color:#09d; font-weight:500; margin-top:0px; margin-bottom:0px; font-size:15px").
        ClaimFound Identity
      .sectionav.
      p(style="text-transform: uppercase; font-size:12px").
        Category
      h3(style="color:#09d; font-weight:500; margin-top:0px; margin-bottom:0px; font-size:15px").
        Graphic Design<br>
        Illustration
      .sectionav.
      p(style="text-transform: uppercase; font-size:12px").
        tools
      h3(style="color:#09d; font-weight:500; margin-top:0px; margin-bottom:0px; font-size:15px; line-height:1.5em").
        Adobe Photoshop<br>
        Adobe Illustrator
      .sectionav.
  section.about
    .intro
      img(style="width:50%; margin-left: 15%;",src="/assets/img/hp_gallery_tn/LogoMain.png")
      p.
        <span style="text-transform:uppercase; font-weight: 700; font-size: 22px">Telling a brand's story through it's logo</span><br>
        <span style="text-transform:uppercase;font-weight:700">Background:</span><br>
        ClaimFound Inc. is a financial technology startup currently based in Gainesville, Florida. ClaimFound is a web application that allows users
        to search for unclaimed property in their name across the fifty states and processes the claims for payment. As a Visual and UX Design intern at
        at ClaimFound, I re-designed their logo and took part in the UX research and design of the web application.
      img(style="width:70%; margin-left: 10%; margin-top: 5%; margin-bottom: 5%",src="/assets/img/hp_gallery_tn/hp_tn_10_claim.png")
      p.
        <span style="text-transform:uppercase;font-weight:700">Research:</span><br>
        Existing logo of the application is a direct visual representation of 'search' which is the core functionality of the application. Although the magnifying glass is a
        loyal representation of the core function, the brand title speaks for the success but not the process. It was important to show that ClaimFound as a brand assists with the
        whole process starting with search to receiving the money. Also, the current logo has the letter 'C' inside the magnifying glass which is resulting in multiple 'C's
        when combined with the word mark. Retaining the importance of the search signifier i.e the magnifying glass, I came up with a logo that abstractly holds the form of the
        magnifying glass but connects to the idea of searching for claims in a different visual perspective achieved through a tinted primary color.
      img(style="width:80%; margin-left: 10%; margin-top: 5%; margin-bottom: 5%",src="/assets/img/hp_gallery_tn/cfOldNew.png")
      p.
        <span style="text-transform:uppercase;font-weight:700">Colors and Typeface:</span><br>
        I replaced the old typeface with Roboto, a clean sans-serif typeface with balance and legibility and whose properties align well with
        the shape and structure of the logo.
      img(style="width:80%; margin-left: 10%; margin-top: 5%; margin-bottom: 5%",src="/assets/img/hp_gallery_tn/logonwm.png")
      img(style="width:60%; margin-left: 10%;",src="/assets/img/hp_gallery_tn/LogoDetails.png")
