head
   script(src='http://www.visineat.com/js/vn-1.7.js')
   script(src='http://www.visineat.com/js/vn/animation-1.js')
   script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
   script(src='/assets/js/alligator.js')
   script(src='/assets/js/main.js')
body(onload='vn.run(my_program)', style='margin:0px')
section.about
  .flex
    a(href='{{site.baseurl}}/byjus/')
      .col-1
        img(src="/assets/img/hp_gallery_tn/hp_tn_09_byjus.gif")
        #toggle
        #cell Byju's Classes</br>
          span(style='font-size:12px').
            UX Design
    a(href='http://www.visineat.com/devs/dev4/FP/public/html/')
      .col-1
        .image
          .bimage
            img(src="/assets/img/hp_gallery_tn/hp_tn_06_indic.png")
          .btext
            h1 History of
              .language
              .animate Typography
        #toggle
        #cell INDIAN TYPOGRAPHY</br>
          span(style='font-size:12px').
            Interactive Storytelling
    a(href='{{site.baseurl}}/bharti/')
      .col-1
        img(style="width:300px;" src="/assets/img/hp_gallery_tn/bharti_video.gif")
        #toggle
        #cell Bharti AXA</br>
          span(style='font-size:12px').
            UX Design
    a(href='{{site.baseurl}}/dotedu/')
      .col-1
        img(style="width:300px" src="/assets/img/hp_gallery_tn/dotedurec.gif")
        #toggle
        #cell DOTEDU</br>
          span(style='font-size:12px').
            PROTOTYPING
    a(href='{{site.baseurl}}/logos/')
      .col-1
        img(src="/assets/img/hp_gallery_tn/hp_tn_03_logos.gif")
        #toggle
        #cell LOGOS</br>
          span(style='font-size:12px').
            Branding & Corporate Communication
    a(href='{{site.baseurl}}/graphikala/')
      .col-1
        img(src="/assets/img/hp_gallery_tn/hp_tn_02_graphikala.png")
        #toggle
        #cell GRAPHIKALA</br>
          span(style='font-size:12px').
            Tribute Poster Project
    a(href='http://www.visineat.com/devs/dev4/WebGL/A05/')
      .col-1
       #my_screen(style='width: 300px; height:170px')
       #toggle
       #cell ALBERT IN CITY</br>
        span(style='font-size:12px').
          WebGL Interactive
    a(href='https://vimeo.com/163488379')
      .col-1
        img(src="/assets/img/hp_gallery_tn/hp_tn_07_gators.gif")
        #toggle
        #cell Florida Field</br>
          span(style='font-size:12px').
            3D Modeling & Animation
    a(href='http://www.visineat.com/devs/dev4/portfolio/coursework.html')
      .col-1
        img(src="/assets/img/hp_gallery_tn/hp_tn_01_kayla.png")
        #toggle
        #cell KAYLA</br>
          span(style='font-size:12px').
            Interactive Photo Essay
