head
   script(src='http://www.visineat.com/js/vn-1.7.js')
   script(src='http://www.visineat.com/js/vn/animation-1.js')
   script(src='/assets/js/alligator.js')
   script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
body(onload='vn.run(my_program)', style='margin:0px')
section.about
  .flex
    a(href='http://www.visineat.com/devs/dev4/portfolio/coursework.html')
      .col-1
        img(src="/assets/img/hp_gallery_tn/hp_tn_01_kayla.png")
    a(href='http://thegraphikalaproject.tumblr.com/')
      .col-1
        img(src="/assets/img/hp_gallery_tn/hp_tn_02_graphikala.png")
    a(href='http://www.visineat.com/devs/dev4/portfolio/coursework.html')
      .col-1
        img(src="/assets/img/hp_gallery_tn/hp_tn_03_logos.gif")
    a(href='http://www.visineat.com/devs/dev4/WebGL/A05/')
      .col-1
       #my_screen(style='position:absolute; width: 300px; height:170px')
    .col-1
      img(src="/assets/img/hp_gallery_tn/hp_tn_04_skuherald.png")
    .col-1
      img(src="/assets/img/hp_gallery_tn/hp_tn_04_skuherald.png")
