section.about
  .flex
    .col-1
      img(src="/assets/img/hp_gallery_tn/hp_tn_01_kayla.png")
    .col-1
      img(src="/assets/img/hp_gallery_tn/hp_tn_02_graphikala.png")
    .col-1
      img(src="/assets/img/hp_gallery_tn/hp_tn_03_logos.gif")
    .col-1
      img(src="/assets/img/hp_gallery_tn/hp_tn_02_graphikala.png")
