.home-wrap
  .header-position
    .heading
        #brand.
          Drapermeter
        #categeory.
          Web Development
    .subnav
      ul
        li: a(href="{{site.baseurl}}/") Home
        li: a(href="{{site.baseurl}}/resume/") Resume
  section.about
    .intro
      p.
        <span style="text-transform:uppercase;font-weight:700">Background:</span><br>
        Drapermeter is a web application that lets people vote advertisements based on their creativity. This project is done
        as part of my Masters Thesis at the University of Florida. Drapermeter verifies an existing theory in Advertising Creativity known
        as the <a href="">Creative Product Semantic Scale (CPSS)</a>. According to CPSS, any product or service can be deemed creative if it has high degree of
        measurement on three scales namely: <br>
        1. Novelty <br>
        2. Elaboration <br>
        3. Style <br><br>
        <span style="text-transform:uppercase;font-weight:700">Research:</span><br>
        Surveys that provide good user experience are proven to obtain better quality of data than typical surveys that fail to engage participants. To better understand
        the current trends in survey design, three popular survey applications are studied. The following are the major differences:
      img(style="width:100%",src="/assets/img/hp_gallery_tn/comparison.png")
      p.
        Our survey will have 27 questions in total with 9 questions for each advertisement. Building a survey of 27 questions using any of the above three apps results
        in a long vertical navigation or 27 repeated clicks. Moreover, our requirement is that the user should see the advertisement before answering a question and none of the above
        mentioned survey platforms provide this feature. Therefore, I decided to build a custom survey application for this research that fits the needs and almost gamifies the survey experience.<br><br>
        <span style="text-transform:uppercase;font-weight:700">UX Design process:</span><br>
        Based on the research paper <a href= "http://dl.acm.org/citation.cfm?id=2639230">"Gamification of online surveys: conceptual foundations and a design process based on the MDA framework"</a>, the following
        5 steps are devised for the development of an interactive application:<br>
        1. Inspiration<br>
        2. Aesthetics and Relationships<br>
        3. Dynamics and Conversations<br>
        4.  Mechanics and Appearance<br>
        5. Prototyping, Evaluation and Iteration<br>
        1. Inspiration:<br>
        At this stage, existing work in survey design that deviates from the mainstream in terms of the UI components and the whole user experience are studied. Here are some of them:<br>
        <a href="http://slaveryfootprint.org/">Made in a free world: Slavery Footprint Survey</a><br>
        <a href="http://www.nytimes.com/interactive/2013/12/20/sunday-review/dialect-quiz-map.html">New York Times: How Y’all, Youse and You Guys Talk</a><br>
        <a href="http://www.nytimes.com/interactive/2011/06/19/nyregion/how-many-households-are-like-yours.html">New York Times: How Many Households Are Like Yours?</a><br>
        In my observations, following elements are making for a compelling survey<br>
        - Providing visual feedback for an input<br>
        - Using subtle animations during transitions<br>
        - Informing the participant about background of the survey<br>
        - Usage of sliders and other interactive elements for data input<br>
        2. Aesthetics and Relationships:<br>
        This is the stage where user research is carried. User personas are developed to better understand the goals and pain points of the survey participant.
#byjus01
  img(style="width:100%",src="/assets/img/hp_gallery_tn/userFlow.png")
.home-wrap
  .header-position
    .heading
  section.about
    .intro
      p.
        3. Dynamics and Conversations<br>
        4. Mechanics and Appearance
