.home-wrap
  .header-position
    .goback.
      <a href="http://sandeepbedadala.com">← Back to homepage</a>
    .heading
        #brand.
          Explore Programs Tool
    .subnav
      p.
        Category
      h3.
        UI/UX Design
      p.
        tools
      h3.
        Adobe XD<br>
        HTML + CSS + jQuery
      p.
        year
      h3.
        2017
  section.about
    .postTitle.
      accelerating student decisions and augmenting staff services
    .app
      <a href="https://exploreprograms.indiana.edu/">View the app here →</a>
    .intro
      .subHeading.
        The Problem:
      p.
        The 'Explore Programs' tool is a strategically important tool for the Undergraduate Education division at IU.
        Through this tool both new students and existing students discover programs that match their interests and more importantly, will find out
        which courses can accelerate their degree progress at IU. While the tool existed, the design of the tool was outdated, hard to use,
        failing various accessibility and usability standards. I re-designed the application which is a complete transformation of the application that was existing.
      .subHeading.
        My role:
      p.
        I worked as the <span style="font-weight:600">Information Architect</span> , lead <span style="font-weight:600">User Interface Designer</span> and contributed to developing the interactions in code using HTML + CSS + jQuery.
        Following are some of the standout features in the re-design of the explore programs tool
.home-wrap
  .header-position
    .heading
  section.about
    .intro(style="margin-top:0px")
      .subHeading.
        1. Accessibility and Usability First Approach:
#byjus01
  img(src="/assets/img/hp_gallery_tn/hp_tn_14_explrprgrms_demo_01.png")
.home-wrap
  .header-position
    .heading
  section.about
    .intro(style="margin-top:0px")
      .subHeading.
        2. Accelerating decision making through providing clarity
#byjus01
  img(src="/assets/img/hp_gallery_tn/hp_tn_14_explrprgrms_demo_02.png")
.home-wrap
  .header-position
    .heading
  section.about
    .intro(style="margin-top:0px")
      .subHeading.
        3. Information flow based on the student's experience flow
#byjus01
  img(src="/assets/img/hp_gallery_tn/hp_tn_14_explrprgrms_demo_03.png")
.home-wrap
  .header-position
    .heading
  section.about
    .intro(style="margin-top:0px")
      .subHeading.
        4. The tool as dynamic as the needs of today's students
#byjus01
  img(src="/assets/img/hp_gallery_tn/hp_tn_14_explrprgrms_demo_04.png")
