.home-wrap
  .header-position
    .heading
        #brand.
          Graphikala
    .subnav
      ul
        li: a(href="{{site.baseurl}}/") Home
        li: a(href="{{site.baseurl}}/resume/") Resume
        .sectionscat.
          Project details
        p(style="text-transform: uppercase; font-size:12px").
          Title
        h3(style="color:#09d; font-weight:500; margin-top:0px; margin-bottom:0px; font-size:15px").
          Graphikala
        .sectionav.
        p(style="text-transform: uppercase; font-size:12px").
          Category
        h3(style="color:#09d; font-weight:500; margin-top:0px; margin-bottom:0px; font-size:15px;line-height:1.5em").
          Illustration<br>
          Poster Design
        .sectionav.
        p(style="text-transform: uppercase; font-size:12px").
          tools
        h3(style="color:#09d; font-weight:500; margin-top:0px; margin-bottom:0px; font-size:15px; line-height:1.5em").
          Adobe Illustrator<br>
          Adobe Photoshop
        .sectionav.
  section.about
    .intro
      p.
        Graphikala is a Graphic Art project I started as a tribute to Telugu Cinema.
    .posterpic
      img(src="/assets/img/hp_gallery_tn/02_graphikala_01.jpg")
      .imgtext.
        Anveshana (1985)
      img(src="/assets/img/hp_gallery_tn/02_graphikala_02.jpg")
      .imgtext.
        Gamyam (2008)
      img(src="/assets/img/hp_gallery_tn/02_graphikala_03.jpg")
      .imgtext.
        Shiva (1989)
      img(src="/assets/img/hp_gallery_tn/02_graphikala_04.jpg")
      .imgtext.
        Athadu (2005)
      img(src="/assets/img/hp_gallery_tn/02_graphikala_05.jpg")
      .imgtext.
        Kondaveeti Donga (1990)
      img(src="/assets/img/hp_gallery_tn/02_graphikala_06.jpg")
      .imgtext.
        Nireekshana (1982)
      img(src="/assets/img/hp_gallery_tn/02_graphikala_07.jpg")
      .imgtext.
        Okkadu (2003)
      img(src="/assets/img/hp_gallery_tn/02_graphikala_08.jpg")
      .imgtext.
        Jalsa (2005)
