.home-wrap
  .header-position
    .heading
      p Graphikala
    ul
      li: a(href="#home") Home
  section.about
    .posterpic
      img(src="/assets/img/hp_gallery_tn/02_graphikala_01.jpg")
      img(src="/assets/img/hp_gallery_tn/02_graphikala_02.jpg")
      img(src="/assets/img/hp_gallery_tn/02_graphikala_03.jpg")
      img(src="/assets/img/hp_gallery_tn/02_graphikala_04.jpg")
      img(src="/assets/img/hp_gallery_tn/02_graphikala_05.jpg")
      img(src="/assets/img/hp_gallery_tn/02_graphikala_06.jpg")
      img(src="/assets/img/hp_gallery_tn/02_graphikala_07.jpg")
      img(src="/assets/img/hp_gallery_tn/02_graphikala_08.jpg")
