.home-wrap
  .header-position
    .heading
        #brand.
          Graphikala
        #categeory.
          Tribute Project
    .subnav
      ul
        li: a(href="#home") Home
        li: a(href="#resume") Contact
  section.about
  .intro
    p.
      Logos created for various clients.</br>Designing logos is my favorite
      design task, it challenges me to think visually in a constrained space.
    .posterpic
      img(src="/assets/img/hp_gallery_tn/02_graphikala_01.jpg")
      img(src="/assets/img/hp_gallery_tn/02_graphikala_02.jpg")
      img(src="/assets/img/hp_gallery_tn/02_graphikala_03.jpg")
      img(src="/assets/img/hp_gallery_tn/02_graphikala_04.jpg")
      img(src="/assets/img/hp_gallery_tn/02_graphikala_05.jpg")
      img(src="/assets/img/hp_gallery_tn/02_graphikala_06.jpg")
      img(src="/assets/img/hp_gallery_tn/02_graphikala_07.jpg")
      img(src="/assets/img/hp_gallery_tn/02_graphikala_08.jpg")
