.home-wrap
  .header-position
    .goback.
      <a href="http://sandeepbedadala.com">← Back to homepage</a>
    .heading
        #brand.
          Graphikala
    .subnav
      p.
        Category
      h3.
        Illustration<br>
        Graphic Design
      p.
        tools
      h3.
        Adobe Illustrator<br>
        Adobe Photoshop
  section.about
    .postTitle.
      Graphic Tribute to the Classics
    .app.
      <a href="https://www.facebook.com/graphikalaproject/">Visit project page →</a>
    .intro
      .subHeading.
        Background:
      p.
        Graphikala is a Graphic Art project I started as a tribute to Telugu Cinema.
    .posterpic
      img(src="/assets/img/hp_gallery_tn/02_graphikala_01.jpg")
      .imgtext.
        Anveshana (1985)
      img(src="/assets/img/hp_gallery_tn/02_graphikala_02.jpg")
      .imgtext.
        Gamyam (2008)
      img(src="/assets/img/hp_gallery_tn/02_graphikala_03.jpg")
      .imgtext.
        Shiva (1989)
      img(src="/assets/img/hp_gallery_tn/02_graphikala_04.jpg")
      .imgtext.
        Athadu (2005)
      img(src="/assets/img/hp_gallery_tn/02_graphikala_05.jpg")
      .imgtext.
        Kondaveeti Donga (1990)
      img(src="/assets/img/hp_gallery_tn/02_graphikala_06.jpg")
      .imgtext.
        Nireekshana (1982)
      img(src="/assets/img/hp_gallery_tn/02_graphikala_07.jpg")
      .imgtext.
        Okkadu (2003)
      img(src="/assets/img/hp_gallery_tn/02_graphikala_08.jpg")
      .imgtext.
        Jalsa (2005)
