.home-wrap
  .header-position
    .heading
        #brand.
          Graphikala
        #categeory.
          Tribute Project
    .subnav
      ul
        li: a(href="#home") Home
        li: a(href="#resume") Contact
  section.about
    .intro
        <div><span>Logos created for various clients.</br>Designing logos is my favorite
        design task, it challenges me to think visually in a constrained space.</span></div>
    .posterpic
      img(src="/assets/img/hp_gallery_tn/02_graphikala_01.jpg")
      .imgtext.
        Anveshana (1985)
      img(src="/assets/img/hp_gallery_tn/02_graphikala_02.jpg")
      .imgtext.
        Gamyam (2008)
      img(src="/assets/img/hp_gallery_tn/02_graphikala_03.jpg")
      .imgtext.
        Shiva (1989)
      img(src="/assets/img/hp_gallery_tn/02_graphikala_04.jpg")
      .imgtext.
        Athadu (2005)
      img(src="/assets/img/hp_gallery_tn/02_graphikala_05.jpg")
      .imgtext.
        Kondaveeti Donga (1990)
      img(src="/assets/img/hp_gallery_tn/02_graphikala_06.jpg")
      .imgtext.
        Nireekshana (1982)
      img(src="/assets/img/hp_gallery_tn/02_graphikala_07.jpg")
      .imgtext.
        Okkadu (2003)
      img(src="/assets/img/hp_gallery_tn/02_graphikala_08.jpg")
      .imgtext.
        Jalsa (2005)
