header
  .header-position
  .logo
  .text Hello my name is Sandeep!
  .text I'm studying Digital Arts and Sciences at the University of Florida

  nav.site-nav
    ul
      li: a(href="#resume") Resume
      li: a(href="#linkedin") LinkedIn
