.home-wrap.header
  .header-position
    .logo
      img(src="/assets/img/hp_gallery_tn/sandeep.png")
      <div class="name">Sandeep Bedadala</span></div>
      <div class="bio">UI/UX Designer + Developer</div>
    ul
      li: a(href="{{site.baseurl}}/about/") About
      li: a(href="{{site.baseurl}}/resume/") Resume
      li: a(href="{{site.baseurl}}/blog/") Blog
    .social
      <a href="https://codepen.io/sanmanwidbigplan/"><img style="margin-left: 1em; margin-right: 1em; height:20px" src="/assets/img/hp_gallery_tn/codepen.svg"></a>
      <a href="https://github.com/bedadala92"><img style="margin-left: 1em; margin-right: 1em; height:20px" src="/assets/img/hp_gallery_tn/github.svg"></a>
      <a href="https://www.linkedin.com/in/sandybedadala/"><img style="margin-left: 1em; margin-right: 1em; height:20px" src="/assets/img/hp_gallery_tn/linkedin.svg"></a>
