.home-wrap.header
  .header-position
    .logo
      img(src="/assets/img/hp_gallery_tn/bannerHS.png")
    .text Hello my name is Sandeep!
    .text I'm studying Digital Arts and Sciences at the University of Florida
    ul
      li: a(href="#resume") Resume
      li: a(href="#linkedin") LinkedIn
      li: a(href="https://sandeepbedadala.persona.co/") About
