.home-wrap
  .header-position
    .heading
        #brand.
          Kayla
    .subnav
      ul
        li: a(href="{{site.baseurl}}/") Home
        li: a(href="{{site.baseurl}}/resume/") Resume
      .sectionscat.
        Project details
      p.
        Title
      h3.
        Kayla
      .sectionav.
      p.
        Category
      h3.
        Photography<br>
        Web Development<br>
      .sectionav.
      p.
        tools
      h3(style="margin-bottom:3%").
        HTML + CSS<br>
        jQuery<br>
  section.about
    .app
      <a href="http://www.visineat.com/devs/dev4/portfolio/coursework.html">View the project here</a>
    .intro
      .thumbnail
        img(src="/assets/img/hp_gallery_tn/kaylaColeman.jpg")
      p.
        <span style="text-transform: uppercase; font-weight:700">Background:</span><br>
        Kayla Coleman is a community organizer at the <a href="https://www.civicmediacenter.org/">Civic Media Center</a> in Gainesville, Florida. She is fighting for the rights of the underrepresented and marginalized in the community.
        I worked with Kayla to tell her story to the world and to introduce new members in the community to the Civic Media Center.
        Originally an audio-visual story, I decided to put together a website and share it with the world.<br><br>Both Kayla and her story are an inspiration.
