.home-wrap
  .header-position
    .heading
        #brand.
          Logos
        #categeory.
          Identity Design
    .subnav
      ul
        li: a(href="{{site.baseurl}}/") Home
        li: a(href="{{site.baseurl}}/resume/") Resume
  section.about
    .intro
      p.
        Logos created for various clients
    .imgpic
      img(src="/assets/img/hp_gallery_tn/03_logos_01_PM01.png")
      .imgtext.
        Pavan Missula Wedding Photography
      img(src="/assets/img/hp_gallery_tn/03_logos_01_PM02.png")
      .imgtext.
        Pavan Missula Photography
      img(src="/assets/img/hp_gallery_tn/03_logos_02_AG01.png")
      .imgtext.
        Agastya Media Arts Lab
      img(src="/assets/img/hp_gallery_tn/03_logos_02_AG02.png")
      .imgtext.
        Agastya Media Arts Lab
      img(src="/assets/img/hp_gallery_tn/03_logos_03_NG01.png")
      .imgtext.
        Made at NexGen Studios Campaign
      img(src="/assets/img/hp_gallery_tn/03_logos_04_YB01.png")
      .imgtext.
        Yuhmbox
