.tile
  #imgpic
    .logopic
      img(src="/assets/img/hp_gallery_tn/03_logos_01_PM01.png")
    .logopic
      img(src="/assets/img/hp_gallery_tn/03_logos_01_PM02.png")
    .logopic
      img(src="/assets/img/hp_gallery_tn/03_logos_02_AG01.png")
    .logopic
      img(src="/assets/img/hp_gallery_tn/03_logos_02_AG02.png")
    .logopic
      img(src="/assets/img/hp_gallery_tn/03_logos_03_NG01.png")
    .logopic 
      img(src="/assets/img/hp_gallery_tn/03_logos_04_YB01.png")
