.home-wrap
  .header-position
    .goback.
      <a href="http://sandeepbedadala.com">← Back to homepage</a>
    .heading
        #brand.
          Logos
    .subnav
      p.
        Category
      h3.
        Illustration<br>
        Branding
      p.
        tools
      h3.
        Adobe Illustrator<br>
        Adobe Photoshop
  section.about
    .postTitle.
      Logos created for various clients
    .imgpic
      img(src="/assets/img/hp_gallery_tn/03_logos_01_PM01.png")
      .imgtext.
        Pavan Missula Wedding Photography
      img(src="/assets/img/hp_gallery_tn/03_logos_01_PM02.png")
      .imgtext.
        Pavan Missula Photography
      img(src="/assets/img/hp_gallery_tn/03_logos_05_AM360.png")
      .imgtext.
        Academic Metrics 360
      img(src="/assets/img/hp_gallery_tn/03_logos_02_AG01.png")
      .imgtext.
        Agastya Media Arts Lab
      img(src="/assets/img/hp_gallery_tn/03_logos_02_AG02.png")
      .imgtext.
        Agastya Media Arts Lab
      img(src="/assets/img/hp_gallery_tn/03_logos_03_NG01.png")
      .imgtext.
        Made at NexGen Studios Campaign
      img(src="/assets/img/hp_gallery_tn/03_logos_04_YB01.png")
      .imgtext.
        Yuhmbox
