.home-wrap
  .header-position
    .heading
        #brand.
          Logos
        #categeory.
          Identity Design
    .subnav
      ul
        li: a(href="#home") Home
        li: a(href="#resume") Contact
  section.about
    .imgpic
      img(src="/assets/img/hp_gallery_tn/03_logos_01_PM01.png")
      img(src="/assets/img/hp_gallery_tn/03_logos_01_PM02.png")
      img(src="/assets/img/hp_gallery_tn/03_logos_02_AG01.png")
      img(src="/assets/img/hp_gallery_tn/03_logos_02_AG02.png")
      img(src="/assets/img/hp_gallery_tn/03_logos_03_NG01.png")
      img(src="/assets/img/hp_gallery_tn/03_logos_04_YB01.png")
