---
layout: default
title: Sandeep Bedadala
---
<!-- <div style="text-align: center; position:relative; top:50%;font-size: 24px;
">Soon</div> -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110170629-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110170629-2');
</script>
<div class="home-wrap">
  {% include header.html %}
<div class="home-sections">
    {% include columns.html %}
</div>
</div>
