.home-wrap header
   width: 300px
   background: white
   padding: 15px 0 0 15px

   .logo
       +hide-text
       background:
         image: url(/assets/img/bannerHS.png)
         repeat: no-repeat
         position: top
         size: contain
       height: 170px
.text
   font-size: 15px
   font-family: 'Work Sans', sans-serif
   line-height: 1.5
.signatures
  background:
    image: url(/assets/img/signatures.gif)
    repeat: no-repeat
    position: left
  height: 50px
