<div class="home-wrap"><div class="header-position"><div class="heading"><div id="brand">About</div></div><div class="subnav"><ul><li><a href="{{site.baseurl}}/">Home</a></li><li><a href="{{site.baseurl}}/resume/">Resume</a></li></ul></div></div><section class="about"><div style="padding-right:2%; display:inline-block" class="intro"><span class="role">Hi! I'm Sandeep.<br></span>
<span class="place">I work at the intersection of technology, art and communications to deliver engaging user experiences.
<br>
<span class="place">
If you have an idea for a project or just want say hi, write to me at <span class="type">sandeepbedadala@gmail.com<br><br>
<span class="role"><a style ="font-size: 18px; color: #007FE1;" href="https://twitter.com/sandeepbedadala">Twitter</a><br><a style ="font-size: 18px; color: #007FE1;"href="https://www.linkedin.com/in/sandybedadala">LinkedIn</a><br>
<a style ="font-size: 18px; color: #007FE1;"href="https://vimeo.com/user29839963">Vimeo</a>
</span></div></section></div>