<div class="home-wrap"><div class="header-position"><div class="heading"><div id="brand">About</div></div><div class="subnav"><ul><li><a href="{{site.baseurl}}/">Home</a></li><li><a href="{{site.baseurl}}/resume/">Resume</a></li></ul></div></div><section class="about"><div style="padding-right:10%; display:inline-block" class="intro"><span class="role">Hi! I'm Sandeep.<br></span>
<span class="place">I love working at the intersection of design, technology and communications to deliver engaging user experiences.
My design philosophy and the reason I became a designer is inspired by the following quote by Steve Jobs:</span>
<p class="place" style="padding-top:5%;padding-bottom:5%; font-weight: 300">" There is something beyond what you see everyday…It’s the same thing that causes people to want to be poets instead of bankers. I think that same spirit can be put into products. People can sense that. And they love it."</p>
<span class="place">Below are some of my favorite reads/projects/people related to design, technology and the human-machine experience:
<ul style="padding:0px;">
<li><a style="font-size:18px" href="http://worrydream.com/ABriefRantOnTheFutureOfInteractionDesign/">[Essay] Bret Victor: A brief rant on the history of interaction design </a>
<li><a style="font-size:18px" href="https://www.netflix.com/title/80057883">[Video] Abstract: The Art of Design</a>
<li><a style="font-size:18px" href="https://interfacelovers.com/">[Link] Interface Lovers (Highly recommend their playlists!)</a>
<li><a style="font-size:18px" href="https://www.youtube.com/watch?v=4v4XxlfVk3o">[Video] Aaron Koblin: Artfully visualizing our humanity</a>
<li><a style="font-size:18px" href="https://medium.freecodecamp.org/how-to-construct-a-design-system-864adbf2a117">[Essay] Colm Tuite: How to construct a design system</a>
</span></ul>
<br>
<span class="place">
If you have an idea for a project or just want say hi, write to me at <span class="type">sandeepbedadala@gmail.com<br><br>
<span class="role"><a style ="font-size: 18px; color: #007FE1;" href="https://twitter.com/sandeepbedadala">Twitter</a><br><a style ="font-size: 18px; color: #007FE1;"href="https://www.linkedin.com/in/sandybedadala">LinkedIn</a><br>
<a style ="font-size: 18px; color: #007FE1;"href="https://vimeo.com/user29839963">Vimeo</a>
</span></div></section></div>