<div class="home-wrap"><div class="header-position"><div class="heading"><div id="brand">Resume</div></div><div class="subnav"><ul><li><a href="{{site.baseurl}}/">Home</a></li></ul></div></div><section class="about"><div style="padding-right:0%" class="intro"><a href="https://drive.google.com/file/d/0B6TkgVqfgAwXQi13dEpBdG85Qlk/view?usp=sharing"><span class="box">Download my Resume</span></a></br></br>
<div style="line-height:1.5em"><span class="type">Education</span><br>
<span class="role">MA Digital Arts & Sciences</span><br>
<span class="place">University of Florida</span></br>
<span class="date">August 2015 - May 2017</span></br></br>
<span class="role">B.Tech Electrical Engineering</span><br>
<span class="place">Sri Krishnadevaraya University</span></br>
<span class="date">September 2009 - May 2013</span><br></br>
<span class="type">Experience</span></br>
<span class="role">Front-end Developer & Graduate Assistant</span><br>
<span class="place">Digital Worlds Institute, UF</span></br>
<span class="date">August 2015 - Present</span></br></br>
<span class="role">UX Designer</span><br>
<span class="place">The Agency at UF</span></br>
<span class="date">May 2016 - Present</span><br></br>
<span class="role">Visual Design Intern</span><br>
<span class="place">Agastya International Foundation</span></br>
<span class="date">September 2014 - January 2015</span><br></br>
<span class="role">UX Designer</span><br>
<span class="place">Purplemango India</span></br>
<span class="date">August 2013 - May 2014</span><br></div></div></section></div>
