<!-- <div class="newheader"<span style="text-align: center; line-height: 22px"><span>న పుణ్యం న పాపం<br/>న సౌఖ్యం న దుఃఖం<br />న మంత్రో న తీర్ధం<br />న వేదా న యజ్ఞ<br />అహం భోజనం నైవ భోజ్యం<br />న భోక్తా చిదానంద రూపః శివోహం శివోహం ||<br /><br /></span><hr/>No virtue or vice,<br />no pleasure or pain,<br />
I need no mantras, no pilgrimage,<br />no scriptures or rituals,<br />
I am not the experienced, nor the experience itself,<br />
I am the form of consciousness and bliss</span></div> -->
<div class="newheader"<span style="text-align: center; line-height: 22px">human, <span style="font-style: bold">being.</span></span></div>
