.heading
  width: 300px
  height: auto
  repeat: no-repeat
  position: left
  margin: 15px

p
  font-size: 22px

.posterpic img
  max-width: 660px
  max-height: 660px
  width: auto
  height: auto
  float: right
  margin-top: 15px
  margin-left: 15%
