.tile
  height: 380px
  width: auto
  display: flex
  // align-items: center
  justify-content: center

img
  max-width: 660px
  // max-height: 100%
  display: flex
  flex-direction: column
  justify-content: right
  flex-wrap: wrap
  // padding-left: 50%
.logopic
  // margin: 0 15px
  // margin-left: 80%
  repeat: no-repeat
  position: relative
