.type
  font-size: 18px
  color:#007FE1
  font-weight: 600

.place
  font-size: 18px
  line-height: 1.5em

.date
  font-size: 15px
  font-weight: 300
  padding-bottom: 15px

.role
  font-size: 18px
  font-weight: 500

@media(max-width: 415px)
  .intro
    text-align: center
    padding-left: 0px
    margin: auto
    line-height: 0.5em
  a
    font-size: 13px
    display: inline-block
    padding: 3px

  .type
    font-size: 13px
  .place
    font-size: 13px
  .date
    font-size: 11px
  .role
    font-size: 13px

@media(max-width: 375px)
  .intro
    text-align: center
    padding-left: 0px
    margin: auto

  a
    font-size: 13px
    display: inline-block
    padding-left: 3px
    padding-right: 3px

  .type
    font-size: 13px
  .place
    font-size: 13px
  .date
    font-size: 11px
  .role
    font-size: 13px
