<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    </head>
    <body>
      <!-- <div class="home-wrap header"><div class="header-position"><div class="logo"><img src="/assets/img/hp_gallery_tn/bannerHS.png"/></div><div class="text">Hello my name is Sandeep!</div><div class="text">I'm studying Digital Arts and Sciences at the University of Florida</div><ul><li><a href="{{site.baseurl}}/resume/">Resume</a></li><li><a href="#linkedin">LinkedIn</a></li></ul></div></div> -->
          {{ content }}
    </body>
</html>
