---
layout: default
---
<div class="home-wrap">
  <div class="header-position">
    <div class="heading">
      <div id="brand">Blog</div>
    </div>
    <div class="subnav"><ul><li><a href="{{site.baseurl}}/">Home</a></li><li><a href="{{site.baseurl}}/resume/">Resume</a></li></ul></div>
  </div>
<h1>{{ page.title }}</h1>
<div style="padding-right:10%">
  <p style="font-size:12px; margin-top:5%"class="meta">{{ page.date | date_to_string }}</p>
  <p style="color: #007FE1;font-weight: 600;font-size:22px; margin-top:0px" class="meta">{{page.title}}</p>
<div class="post date" style="line-height:1.5">
  {{ page.content }}
</div>
</div>
</div>
